@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }

body{
    width: 100%;
    height: 100vh;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    overflow: -moz-scrollbars-horizontal;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}


.header {
    display: flex;
    width: 100%;
    height: 10rem;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5rem;
    background-color: lightgray;
    opacity: 0.8;
    box-shadow: 0px 2px grey;
    
}

button{
    width: 10rem;
    height: 3.5rem;
    padding: 1rem;
    border-radius: .6rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.displaypanel {
    width: 100%;
    height: calc(100vh - 15vh);
}

.bookcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.progress {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 4px;    
    font-size: 1.3rem;
    padding: 1.5rem;
}

.bookcontainer .modal {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    /* gap: 2rem; */
    align-items: center;
    letter-spacing: .1rem;
    /* padding-top: 2rem; */
    background-color: lightgray;
    opacity: .7;
    border-radius: 1rem;
    box-shadow: 1.5px 1.5px grey;
    width: 20rem ;
    height: 23rem;
    margin: 1rem;
    font-size: 1.2rem;
    padding-left: 1rem;
}

.change,
.remove{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    cursor: pointer;
    align-self: center;
    border-radius: 1rem;
    margin-top: 0.8rem;
    width: 8rem;

}

.buttoncontainer{
    gap: 1rem;
}
.modal .flexcontainer{
    display: flex;
    flex-direction: column;
    gap: .4rem;
    justify-content: space-around;
    align-items: center;
}
.modal .buttoncontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 1.2rem;
}
h2 {
    font-size: 1.5rem;
}

.formcontainer {
    position: absolute;
    top: 20%;
    left: 44%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    letter-spacing: .1rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    background-color: lightgray;
    opacity: .7;
    border-radius: 1rem;
    box-shadow: 1.5px 1.5px grey;
    width: 17rem ;
    height: auto;
    margin: 1rem;
    font-size: 1.2rem;
    display: none;
    z-index: 99;
}

.formcells {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: .5rem;
}

input{
    padding: .3rem;
}

input[type=submit] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    cursor: pointer;
    align-self: center;
    border-radius: 1rem;
    margin-top: 0.8rem;
  }

.formcontainer .titlecontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.closebtn{
    border: 1px solid black;
    margin-right: 1rem;
    cursor: pointer;
    background-color: white;
    margin-bottom: 1rem;
}
.closemodal{
    border: 1px solid black;
    margin-left: 9rem;
    cursor: pointer;
    background-color: white;
}

.blur {
    filter: blur(8px);
}
